<% content_for :css do %>
  <%= stylesheet_link_tag 'homes' %>
<% end %>

<div id="home">
  <div class="top-image">
    <div class="container">
      <div class="top-title">
        <h2 class="m-3">Travel Diary</h2>
        <hr class="my-2">
        <p class="m-3">行ってよかった・また行きたいと思った場所や食べ物を思い出に残そう！</p>
      </div>
    </div>
  </div>
  <div class="home-main my-4 py-4">
    <div class="container">
      <h2 class="home-main-title1 py-4">魅力を伝えよう</h2>
      <div class="row col-md-12 my-4">
        <div class="home-main-osaka col-md-6 order-md-2">
          <img src="/assets/skytree.jpg" alt="tutenkaku">
        </div>
        <div class="home-main-content1 col-md-6 order-md-1 mt-3 mt-md-0">
          <p>感動した、思い出になった場所や美味しかった食べ物なんでもOK！</p>
        </div>
      </div>
      <h2 class="home-main-title2 my-3 py-4">行ってみたい</h2>
      <div class="row col-md-12 my-4">
        <div class="home-main-fukuoka col-md-6">
          <img src="/assets/skytree.jpg" alt="tutenkaku">
        </div>
        <div class="home-main-content2 col-md-6 mt-3 mt-md-0">
          <p>みんなの思い出を参考に行きたい場所を見つよう！</p>
        </div>
      </div>  
    </div>  
  </div>
  <!--コメント-->
  <div class="home-comment my-4">
    <div class="container">
      <h2 class="text-center my-3">口コミ</h2>
      <div class="row home-comment-content pr-0 mr-0">
        <div class="row home-comment-content1 col-12 col-lg-9">
          <div class="row home-comment-pic col-md-5 my-3">
            <i class="far fa-image"></i>
          </div>
          <div class="row home-comment-com col-md-7 my-3">
            <h3>- - - - -</h3>
            <p>あああああああああああああああああああ
            あああああああああああああああああああ
            あああああああああああああああああああ</p>
          </div>
          
          <div class="row home-comment-pic col-md-5 my-3">
            <i class="far fa-image"></i>
          </div>
          <div class="row home-comment-com col-md-7 my-3">
            <h3>- - - - -</h3>
            <p>あああああああああああああああああああ
            あああああああああああああああああああ
            あああああああああああああああああああ</p>
          </div>
          
          <div class="row home-comment-pic col-md-5 my-3">
            <i class="far fa-image"></i>
          </div>
          <div class="row home-comment-com col-md-7 my-3">
            <h3>- - - - -</h3>
            <p>あああああああああああああああああああ
            あああああああああああああああああああ
            あああああああああああああああああああ</p>
          </div>
        </div>
        
        <div class="home-side text-center col-lg-2 p-0">
          <h4 class="my-4">都道府県別</h4>
          <div class="btn-group-verticalr">
            <div class="btn-group">
              <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">北海道</button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">北海道</a></li>
                </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">東北</button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">青森</a></li>
                  <li><a class="dropdown-item" href="#">岩手</a></li>
                  <li><a class="dropdown-item" href="#">宮城</a></li>
                  <li><a class="dropdown-item" href="#">秋田</a></li>
                  <li><a class="dropdown-item" href="#">山形</a></li>
                  <li><a class="dropdown-item" href="#">福島</a></li>
                </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">関東</button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">茨城</a></li>
                  <li><a class="dropdown-item" href="#">栃木</a></li>
                  <li><a class="dropdown-item" href="#">群馬</a></li>
                  <li><a class="dropdown-item" href="#">埼玉</a></li>
                  <li><a class="dropdown-item" href="#">千葉</a></li>
                  <li><a class="dropdown-item" href="#">東京</a></li>
                  <li><a class="dropdown-item" href="#">神奈川</a></li>
                </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">中部</button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">新潟</a></li>
                  <li><a class="dropdown-item" href="#">富山</a></li>
                  <li><a class="dropdown-item" href="#">石川</a></li>
                  <li><a class="dropdown-item" href="#">福井</a></li>
                  <li><a class="dropdown-item" href="#">山梨</a></li>
                  <li><a class="dropdown-item" href="#">長野</a></li>
                  <li><a class="dropdown-item" href="#">岐阜</a></li>
                  <li><a class="dropdown-item" href="#">静岡</a></li>
                  <li><a class="dropdown-item" href="#">愛知</a></li>
                </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">近畿</button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">三重</a></li>
                  <li><a class="dropdown-item" href="#">滋賀</a></li>
                  <li><a class="dropdown-item" href="#">京都</a></li>
                  <li><a class="dropdown-item" href="#">大阪</a></li>
                  <li><a class="dropdown-item" href="#">兵庫</a></li>
                  <li><a class="dropdown-item" href="#">奈良</a></li>
                  <li><a class="dropdown-item" href="#">和歌山</a></li>
                </ul>
            </div>
            <div class="btn-group dropup">
              <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">中国・四国</button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">鳥取</a></li>
                  <li><a class="dropdown-item" href="#">島根</a></li>
                  <li><a class="dropdown-item" href="#">岡山</a></li>
                  <li><a class="dropdown-item" href="#">広島</a></li>
                  <li><a class="dropdown-item" href="#">山口</a></li>
                  <li><a class="dropdown-item" href="#">徳島</a></li>
                  <li><a class="dropdown-item" href="#">香川</a></li>
                  <li><a class="dropdown-item" href="#">愛媛</a></li>
                  <li><a class="dropdown-item" href="#">高知</a></li>
                </ul>
            </div>
            <div class="btn-group dropup">
              <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">九州</button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">福岡</a></li>
                  <li><a class="dropdown-item" href="#">佐賀</a></li>
                  <li><a class="dropdown-item" href="#">長崎</a></li>
                  <li><a class="dropdown-item" href="#">熊本</a></li>
                  <li><a class="dropdown-item" href="#">大分</a></li>
                  <li><a class="dropdown-item" href="#">宮崎</a></li>
                  <li><a class="dropdown-item" href="#">鹿児島</a></li>
                  <li><a class="dropdown-item" href="#">沖縄</a></li>
                </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
  
  

