@charset "utf-8";
// フッター

li {
  list-style: none;
}
a:hover {
  opacity: 0.7;
}
footer {
  background-color: rgb(116, 113, 113);
  font-family: serif;
}
.footer-logo img {
  width: 20%;
}
.footer-list {
  display: flex;
  justify-content: center;
}
.footer-list li {
  margin: 5px;
}

.footer-list li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}
@media (min-width: 1201px) {
  
}
@media (max-width: 1200px) {
  
}
@media (max-width: 992px) {
  .footer-list li a {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .footer-logo img {
    width: 30%;
  }
}
@media (max-width: 576px) {
  .footer-list li a {
    font-size: 10px;
    padding: 0px 5px;
  }
  .footer-list li {
    border-left: solid 1px #fff;
  }
  .footer-list li:last-child{
    border-right: solid 1px #fff;
  }
}