@charset "utf-8";

header {
  font-family: serif;
}
li {
  list-style: none;
}

a:hover {
  opacity: 0.7;
}
// =======================================
.navbar-brand img {
  width: 90%;
}

.dropdown:hover >.dropdown-menu {
  display: block;
}
.navbar-nav > li > .dropdown-menu {
  background-color: #a7a4a4; 
}

.dropdown-link {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}
.nav-link {
  font-size: 20px;
  font-weight: 600;
}
.dropdown button {
  background-color: transparent;
  font-size: 18px;
  padding: 4px;
}

@media (min-width: 1201px) {
  
}
@media (max-width: 1200px) {
  .nav-link {
    font-size: 18px;
    font-weight: 700;
  }
  .dropdown button {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  
}
@media (max-width: 768px) {
  .navbar-brand img {
    width: 70%;
  }

}
@media (max-width: 576px) {
  .navbar-brand img {
    width: 60%;
  }
  button.navbar-toggler {
    padding: 3px;
  }
}