@charset "utf-8";
// 投稿一覧
.posts-index {
  min-height: 100vh;
  background-color: rgb(237, 237, 238);
}
img {
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  opacity: 0.7;
}
.container {
  width: 90%;
}
// ================================
.posts-index {
  font-family: serif;
  line-height: 1.6;
}
.new-title h1 {
  font-size: 30px;
  padding: 5px 10px;
}
// カード===================================
.card-img {
  width: 100%;
}
.card-index-title {
  text-decoration: none;
  font-size: 22px;
  color: #333;
}
// =============================
.card-user {
  align-items: center;
}

.favorite-icon {
  display: inline-block;
  margin: 3px 5px;
}
.card-body img {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  30px;       /* ※縦横を同値に */
  height: 30px;       /* ※縦横を同値に */
  margin: 3px;
}
.card-user-nickname {
  padding-top: 5px;
}
.btn-light {
  margin-left: 5px;
}

// サイドバー===================================
.btn-group:hover >.dropdown-menu {
  display: block;
}
.btn-group {
  margin: 15px;
}
.btn-group button {
  padding: 8px 40px;
  
}
.index-link {
  text-align: end;
}




@media (min-width: 1201px) {
  
}
@media (max-width: 1200px) {
  
}
@media (max-width: 992px) {
  
}
@media (max-width: 768px) {
  .card-index-title {
    font-size: 15px;
  }
  // card-subject
  .card-body p {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  
  .card-body img {
    width:  20px;       /* ※縦横を同値に */
    height: 20px;       /* ※縦横を同値に */   
  }
  .card-index-title {
    font-size: 12px;
  }
  // card-subject
  .card-body p {
    font-size: 10px;
  }
  .card-user-nickname {
    font-size: 10px;
  }
  .favorite-icon {
    display: inline-block;
    font-size: 10px;
    margin: 0;
  }
  .text-muted {
    font-size: 10px;
  }
  .btn-light {
    width: 20%;
    margin: 0;
    padding: 0;
  }
}