@charset "utf-8";

// ユーザー詳細

img {
  width: 100%;
}
li {
  list-style: none;
}
a {
  
}
a:hover {
  opacity: 0.7;
}
.container {
  width: 90%;
}
/* =========================== */
.userShow {
  min-height: 100vh;
  font-family: serif;
  line-height: 1.6;
  background-color: rgb(237, 237, 238);
}
.user-title {
  margin-left: 10px;
  padding-left: 5px;
}
.user-title span {
  font-size: 15px;
  margin-left: 5px;
}
.user-image img {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  180px;       /* ※縦横を同値に */
  height: 180px;       /* ※縦横を同値に */
  border: 1px solid rgb(156, 155, 155);
}
.username p {
  font-size: 20px;
  font-weight: 600;
}
.username-favorites span {
  margin: 0px 10px;
  font-size: 20px;
}


/* 投稿リスト =======================*/

.post-index p {
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  background:linear-gradient(transparent 85%, rgb(142, 142, 143) 60%);
  padding: 5px 5px 0px 5px;
}
.list-group-item {
  padding: 15px;
}
.list-group-item a {
  font-size: 20px;
  text-decoration: none;
  color: #333;
}
.post-list-right {
  display: block;
  text-align: right;
}
.post-list-right a {
  font-size: 15px;
}

// =======================
.index-link {
  text-align: end;
}
.index-link .btn {
  margin-top: 5px;
}


@media (min-width: 1201px) {
  
}
@media (max-width: 1200px) {
  
}
@media (max-width: 992px) {
  
}
@media (max-width: 768px) {
  .username p {
    text-align: center;
  }

}
@media (max-width: 576px) {
  
}